.clients{
    padding: 0 70px;
    background-color: #142941;
}

.clients .desc-2{
    padding: 66px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: "Poppins", sans-serif;
    background-image: url(/public/assets/backgroung.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35px;
    text-align: center;
}

.clients .desc-2 h1{
    font-family: "KoHo", sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    color: #FFFFFF;
}

.clients .desc-2 p , .clients .desc-2 h3{
    color: var(--text-color);
}

.clients .desc-2 .ourClients{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    cursor: pointer;
}

.clients .desc-2 .ourClients div{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients .desc-2 .ourClients div .photo{
    width: 70%;
}

.clients .desc-2 .ourClients div .photo:hover{
    width: 120px;
    height: 120px;
}


.clients .desc-2 .ourClients div:nth-child(7){
    rotate: 180deg;
}

@media screen and (max-width: 992px){
    .clients{
        padding: 20px;
    }
    .clients .desc-2{
        padding: 15px;
        gap: 10px;
    }
    .clients .desc-2 .cummon{
        width: 45px;
    }
    .clients .desc-2 h1{
        font-size: 22px;
    }
    .clients .desc-2 h3{
        font-size: 18px;
    }
    .clients .desc-2 .arrow-2{
        display: none;
    }
    .clients .desc-2 .ourClients{
        justify-content: center;
    }
    .clients .desc-2 .ourClients div .photo{
        width: 60px;
    }
}